@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  ::-webkit-scrollbar-thumb {
    width: 0 !important;
    background: rgba(0, 0, 0, 0.5);
    border: solid 3px transparent;
    background-clip: content-box;
    border-radius: 17px;
  }

  ::-webkit-scrollbar {
    background: transparent;
    width: 0 !important;
    height: 0 !important;
  }
  body {
    background-color: #020b6d;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='16' viewBox='0 0 84 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M78 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM30 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM10 0h2v16h-2V0zm6 0h4v16h-4V0zM2 0h4v16H2V0zm50 0h2v16h-2V0zM38 0h2v16h-2V0zm28 0h2v16h-2V0zm-8 0h6v16h-6V0zM42 0h6v16h-6V0z' fill='%235766ff' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  }
  .active {
    @apply bg-sky-200;
  }
}
@layer components {
  .produk-carousel {
    @apply relative h-80 min-w-[calc(100vw-5rem)] rounded-md bg-cover md:min-w-[40rem];
  }
  .list-produk {
    @apply flex w-full justify-start gap-3 overflow-x-scroll px-7 lg:px-11;
  }
  .produk {
    @apply relative min-h-max min-w-[10rem] max-w-[10rem] overflow-y-scroll rounded-md bg-blue-200/60 backdrop-blur-sm transition duration-300;
  }
  .button {
    @apply rounded-md bg-fuchsia-600 px-2 py-1 transition-all duration-300 hover:bg-fuchsia-400 active:bg-fuchsia-800;
  }
  .input {
    @apply my-3 h-12 w-full rounded-sm border-none bg-white/20 caret-indigo-800 focus:outline-none focus:ring-2 focus:ring-blue-700 dark:bg-black/20 dark:caret-blue-200 dark:focus:ring-indigo-800;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
@layer utilities {
  .sidebar {
    @apply fixed top-0 left-0 z-40 flex h-screen w-64  select-none flex-col gap-3 bg-sky-500 pt-20 text-indigo-900 shadow-lg shadow-blue-800/70 transition duration-300 ease-in-out lg:-translate-x-0;
  }
  .sidebar > div {
    @apply flex h-5/6 w-full flex-col gap-1 text-left text-lg;
  }
  .sidebar > div > a {
    @apply w-64 p-3 transition-all duration-200 ease-in hover:bg-sky-200 active:bg-sky-400;
  }
  .sidebar > div > a > i {
    @apply w-9 pl-3 transition-all duration-200 ease-in group-hover:ml-3 group-hover:font-semibold;
  }
  .sidebar > div > a > i > span {
    @apply transition-all duration-200 ease-in;
  }
}
